* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}
    
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}


/* End of CSS reset */


input{
    display: flex;
    font-size: 30px;
    margin-bottom: 30px;
    background-color: burlywood;
}

p{
    font-size: 20px;
}

button{
    padding: 10px;
    width: 200px;
    border: solid black 3px;
    font-size: 20px;
    background-color: cornflowerblue;
}